seed=1712568902
name=lake_1
width=512
length=512

#surface_begin
// Phong Config: ambient,diffuse,specular, exponet
Phong=0.019,0.5,1,8
RGB=238,238,236
enable_surface=1
draw_surface=1
func=-normal(x  ,y, 0.5,0.5) + 0.5
func=perlin(x,y, exp(1)^N) * exp(1) ^(-1*N)
func=perlin(x,y, exp(1)^N) * exp(1) ^(-1.5*N)
func=perlin(x,y, exp(1)^N) * exp(1) ^(-1.2*N)
func=perlin(x,y, exp(1)^N) * exp(1) ^(-1.2*N)
#surface_end


#surface_begin
// Phong Config: ambient,diffuse,specular, exponet
Phong=0.012,0.25,1,8
RGB=116,114,141
enable_surface=1
draw_surface=0
func=perlin(x - 4,y - 3, exp(1)^N) * exp(1) ^(-1)  + 0.8
#surface_end


#surface_begin
// Phong Config: ambient,diffuse,specular, exponet
Phong=0.011,0.5,1,8
RGB=78,154,6
enable_surface=1
draw_surface=0
func=perlin(x + 4,y + 3, exp(1)^N) * exp(1) ^(-1) + 0.5
#surface_end


#surface_begin
// Phong Config: ambient,diffuse,specular, exponet
Phong=0.013,0.5,1,8
RGB=138,226,52
enable_surface=1
draw_surface=0
func=perlin(x + 4,y + 13, exp(1)^N) * exp(1) ^(-1) + 0.2
#surface_end


#surface_begin
// Phong Config: ambient,diffuse,specular, exponet
Phong=0.017,0.25,1,8
RGB=114,159,197
enable_surface=1
draw_surface=1
func=perlin(x - 4,y - 30, exp(1)^N) * exp(1) ^(-2)
#surface_end


#surface_begin
// Phong Config: ambient,diffuse,specular, exponet
Phong=0.013,0.25,1,8
RGB=52,101,164
enable_surface=1
draw_surface=0
func=perlin(x - 40,y - 3, exp(1)^N) * exp(1) ^(-1) - 0.2
#surface_end

