seed=418932835
name=Single Mountain
width=512
length=512

#surface_begin
// Phong Config: ambient,diffuse,specular, exponet
Phong=0.019,0.5,1,8
RGB=238,238,236
enable_surface=1
draw_surface=1
func=normal(x,y, 0.5, 0.5)
#surface_end


#surface_begin
// Phong Config: ambient,diffuse,specular, exponet
Phong=0.012,0.25,1,8
RGB=78,154,6
enable_surface=1
draw_surface=1
func=plane(x,y, 0.9, 0.9, 0.3)
#surface_end


#surface_begin
// Phong Config: ambient,diffuse,specular, exponet
Phong=0.011,0.5,1,8
RGB=138,226,52
enable_surface=0
draw_surface=0
func=0.5
#surface_end


#surface_begin
// Phong Config: ambient,diffuse,specular, exponet
Phong=0.013,0.5,1,8
RGB=233,185,110
enable_surface=1
draw_surface=0
func=0.2
#surface_end


#surface_begin
// Phong Config: ambient,diffuse,specular, exponet
Phong=0.017,0.25,1,8
RGB=114,159,207
enable_surface=1
draw_surface=1
func=0
#surface_end


#surface_begin
// Phong Config: ambient,diffuse,specular, exponet
Phong=0.013,0.25,1,8
RGB=52,101,164
enable_surface=1
draw_surface=0
func=perlin(x - 10,2*y, exp(1)^N) * exp(1) ^(-N) - 0.2
#surface_end

